<form action="">
    <a href="/login">
        <h1>Create an account</h1>
    </a>
    <section class="user-info">
        <div class="fname-field">
            <input type="text">
            <label for=""></label>
        </div>
        <div class="mname-field">
            <input type="text">
            <label for=""></label>
        </div>
        <div class="lname-field">
            <input type="text">
            <label for=""></label>
        </div>
        <div class="gender-field">
            <input type="radio">
            <input type="radio">
            <label for=""></label>
        </div>
        <div class="position-field">
            <select name="" id="">
                <option value="super-admin">Super Admin</option>
                <option value="admin">
                    Admin
                </option>
            </select>
        </div>
    </section>
</form>