body {
    display: flex;
    height: 100vh;
}

aside {
    width: 35vw;
    height: 100%;
    background-color: #5FA29F;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 350px;
}

div.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

app-header {
    position: absolute;
    top: 15px;
    left: 15px;
}

app-navigation {
    position: absolute;
    top: 27%;
    left: 10%;
}

app-account {
    position: absolute;
    bottom: 0;
    width: 100%;
}